<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<%= form_tag "/posts/#{@post.id}/comments", method: "post" do %>
  <div class="form-group">
    <label for="exampleTextarea">댓글</label>
    <textarea class="form-control" id="exampleTextarea" rows="2" name="content"></textarea>
    <%= button_tag "댓글작성", class: "btn btn-primary fr mt-1" %>
  </div>
<% end %>

<% unless @comments.nil? %>
  <ul class="list-group list-group-flush">
    <% @comments.order('created_at desc').each do |y| %>
        <li class="list-group-item card-block">
          <%= y.content %>
          <%= link_to "(삭제)", "/posts/#{@post.id}/comments/#{y.id}", method: "delete"%>
        </li>
    <% end %>
  </ul>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
